body {
  background: black;
}

main {
  display: flex;
  flex-direction: row;
  padding: 50px 15%;
  color: orange;
  font-family: 'Julius Sans One', sans-serif;
  justify-content: space-between;
}

header {
  display: flex;
  flex-direction: column;
  margin-right: 75px;
}

ul {
  margin-left: 17px;
  list-style-position: inside;
  list-style: circle;
}

.title {
  display: flex;
  align-items: flex-start;
}

.rules {
  display: flex;
  flex-direction: column;
}

.enemies {

}

.obstacles > img {
  width: 60px;
}

.items > img {
  width: 50px;
}

.canvas-container {
  position: relative;
  height: 600px;
  width: 500px;
  margin-left: 75px;
}

.game-settings {
  width: 100%;
  background: white;
  box-sizing: border-box;
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
}

.game-settings.hidden {
  display: none;
}

.game-settings h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  text-decoration: underline;
}

.game-settings input, option {
  cursor: pointer;
}

input[type=range]:disabled::-webkit-slider-runnable-track {
  opacity: 0.3;
}

.game-settings button {
  width: 160px;
  height: 50px;
  background: orange;
  border: 1px solid #eb9f14;
  border-radius: 5px;
  margin-top: 10px;
  font-size: 30px;
  color: white;
  box-sizing: border-box;
}

.game-settings button:hover {
  background: #eb9f14;
  cursor: pointer;
}

.music-button {
  height: 45px;
  width: 45px;
  font-size: 20px;
  margin-left: 20px;
  border-radius: 7px;
  color: black;
  background: orange;
  text-align: center;
}

.music-button > p {
  font-size: 6px;
}

.music-button.disabled {
  background: grey;
  color: black;
}

.music-button:hover {
  cursor: pointer;
}


section > * {
  margin-top: 10px;
}

canvas {
  background: white;
}

footer {
  position: fixed;
  bottom: 0;
  display: flex;
  padding: 10px;
  width: 100%;
  min-height: 60px;
  color: black;
  background: grey;
  justify-content: center;
  align-items: center;
  font-family: 'Spectral SC', serif;
}

footer > a {
  margin: 0 20px;
}

footer > a:hover {
  color: orange;
  text-decoration: underline;
}
