body {
  background: grey;
}

main {
  display: flex;
  flex-direction: row;
  padding: 50px;
  background: black;
  color: orange;
  font-family: 'Julius Sans One', sans-serif;
  justify-content: center;
}

header {
  display: flex;
  flex-direction: column;
  margin-left: 200px;
  margin-right: 50px;
}

.title {
  display: flex;
  align-items: flex-start;
}

header h1 {
  font-size: 50px;
}

.music {
  height: 35px;
  width: 35px;
  font-size: 20px;
  margin-left: 20px;
  border-radius: 7px;
  color: black;
  background: orange;
}

.music.disabled {
  background: grey;
  color: black;
}


section > * {
  margin: 20px auto;
}

canvas {
  background: white;
  margin-right: 200px;
}

footer {
  display: flex;
  padding: 25px;
  color: black;
  justify-content: center;
  align-items: center;
  font-family: 'Spectral SC', serif;
}

footer > a {
  margin: 0 20px;
}

footer > a:hover {
  color: orange;
  text-decoration: underline;
}
