html, body, div, span, h1, h2, h3, h4, h5, h6, p, blockquote, a, img,
strong, ol, ul, li, form, label, table, caption, tr, th, td, article,
aside, figure, figcaption, footer, header, nav, section, button, input, textarea,
h1, h2, h3, h4, h5 {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
  list-style: none;
	letter-spacing: 1.5px;
	-webkit-appearance: none;
	text-decoration: none;
	color: black;
	outline: none;
	background-color: transparent;
	font-family: 'Julius Sans One', sans-serif;
}
